@use "vars" as *;

@mixin font($alias, $name, $weight) {
	@font-face {
		font-family: $alias;
		src: local($name),
		url("/fonts/" + $name + ".woff") format("woff");
		font-weight: $weight;
		font-style: normal;
		font-display: swap;
	}
}

@mixin hover {
	@media (hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
		&:hover {
			@content;
		}
	}
}

@mixin media($bp) {
	@media (max-width: $bp) {
		@content;
	}
}

@mixin truncate($lines: 1, $display: block, $preserve: false) {
	display: $display;
	overflow: hidden;

	@if $lines == 1 {
		@if $preserve {
			white-space: normal;
		} @else {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	} @else {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: #{$lines};
	}
}
